nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}

nav > ul{
  display: flex;
  list-style: none;
}

.Link{
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.Link:Hover{
  text-decoration: underline;
}

.Link:nth-child(1){
  margin-right: 20px;
}

section {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 0;
}

.hero-img{
  max-width: 800px;
}

.hero-sec{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
}

.post-img{
  object-fit: cover;
  height: 170px;
  width: 275px;
}

.post-card{
  text-decoration: none;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.313);
  cursor: pointer;
  margin-bottom: 60px;
}

.post-text{
  padding: 0 20px;
}

.center-btn{
  text-align: center;
  margin-top: 35px;
}

button, .Link-btn{
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid black;
  font-size: 22px;
  transition: background-color 200ms, color 200ms;
}

button:hover, .Link-btn:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}

.Link-btn{
  text-decoration: none;
  color: black
}

form{
  display: flex;
  flex-direction: column;
}
